# IDE / AI
.vs
.gemini
.claude
.cursor
.antigravity
.qoder
.codex

# Build
output
build
**/cmake-build-*
**/scratch
.idea
.vs
*.pdb
*.o
*.obj

# clangd cache
**/.cache

# Binary executables
quaesar
quaesar-dbg

# ImGui layout files
*.ini
debugger_layout.ini
imgui.ini
default_layout.ini

# OS-specific
.DS_Store
Thumbs.db

