output
build
**/cmake-build-*
**/scratch
.idea
.vs
*.pdb

# Binary executables
quaesar
quaesar-dbg

# ImGui layout files
*.ini
debugger_layout.ini
imgui.ini
default_layout.ini

# OS-specific
.DS_Store

