# Format Style Options - Created with Clang Power Tools
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
---
BasedOnStyle: Microsoft
TabWidth: 4
IndentWidth: 4
UseTab: Never
# The extra indent or outdent of access modifiers, e.g. public:.
AccessModifierOffset: -4
IndentAccessModifiers: false

ColumnLimit: 140
CompactNamespaces: false
ShortNamespaceLines: 3
ConstructorInitializerIndentWidth: 4

# If true, horizontally align operands of binary
# and ternary expressions.
#
# Specifically, this aligns operands of a single
# expression that needs to be split over multiple lines, e.g.:
#
# int aaa = bbbbbbbbbbbbbbb +
#           ccccccccccccccc;
AlignOperands: true

AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
#AllowAllConstructorInitializersOnNextLine: false
#PackConstructorInitializersStyle: Never 
AllowAllParametersOfDeclarationOnNextLine: false

# If true, if (a) return; can be put on a single line.
# Lagrange convention:
# if( condition )  do something;    -> YES
# if( condition )
#     do something;                 -> DON'T
# (Never, WithoutElse, OnlyFirstIf, AllIfsAndElse
AllowShortIfStatementsOnASingleLine: Never

 
# template 
SpaceAfterTemplateKeyword: No
AlwaysBreakTemplateDeclarations: Yes

#SortIncludes: false
SortIncludes: CaseInsensitive

BinPackArguments: true
#InsertTrailingCommas: Wrapped
BinPackParameters: true
BitFieldColonSpacing: Before

AllowShortFunctionsOnASingleLine: Inline  #  int f() { return 0; } 
AllowShortLambdasOnASingleLine: Inline 
AlwaysBreakAfterReturnType: None

BreakBeforeBraces: Custom
BraceWrapping: 
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: MultiLine #Always #MultiLine
  AfterEnum: false
  AfterFunction: false #true # u8 a() {}
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  #-- BeforeElse:(bool) --
  # true:
  #if (foo()) {
  #}
  #else {
  #}
  #
  #false:
  #if (foo()) {
  #} else {
  #}
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: false
  BeforeWhile: false
  
# Constructor()
#    : initializer1()
#    , initializer2()  
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma



# SWITCH - CASE
IndentCaseLabels: false
IndentCaseBlocks: false
SpaceBeforeCaseColon: false
AllowShortCaseLabelsOnASingleLine: false
FixNamespaceComments: true

# EMPTY LINES
IndentGotoLabels: false
KeepEmptyLinesAtTheStartOfBlocks: true
#KeepEmptyLinesAtEOF: true
MaxEmptyLinesToKeep: 6
SeparateDefinitionBlocks: Leave #  Line breaks between function definitions

EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never


# The indentation used for namespaces.
# NI_None (in configuration: None) Don't indent in namespaces.
# NI_Inner (in configuration: Inner) Indent only in inner namespaces (nested in other namespaces).
# NI_All (in configuration: All) Indent in all namespaces.
NamespaceIndentation: None

PointerAlignment: Left
#-- ReferenceAlignmentStyle: Left # not supported
SpaceBeforeInheritanceColon: true
SpaceInEmptyBlock: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesInAngles: Leave


#SpaceBeforeParens: ControlStatements
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: false
  AfterOverloadedOperator: true


#int a            = 1;
#int somelongname = 2;
#double c         = 3;
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false

#ArrayInitializerAlignmentStyle: Right  # not support

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignAfterOpenBracket: DontAlign

AlignEscapedNewlines: Left # EscapedNewlineAlignmentStyle
